{
  "printWidth": 100,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}