<!DOCTYPE html>
<html lang = "zh-CN" class = "">
{{ partial "head.html" . }}

<body class = "bg-white dark:bg-stone-100">
<header
  class = "sticky top-0 z-50 h-header-height flex flex-wrap items-center justify-between
   bg-white px-4 py-5
   drop-shadow ">
  {{ partial "header.html" . }}
</header>
<main class = "h-main-height flex w-screen flex-row ">
  <div
    class = "basis-2/12 overflow-y-auto scrollbar scrollbar-none ">
    {{ partial "nav-sidebar.html" . }}
  </div>

  <div
    class = "h-full basis-8/12 border-x-2 flex flex-col overflow-y-auto scrollbar scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100">

    <div class = "grow p-2">
      {{- block "main" . }}{{- end }}
    </div>

    <div class = "flex-none">
      {{ partial "footer.html" . }}
    </div>

  </div>

  <div class = "basis-2/12 overflow-y-auto pt-2  ">
    {{ partial "toc.html" . }}
  </div>
</main>
<script src = "https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
</body>
</html>