<!DOCTYPE html>
<html lang="zh-CN">
  {{ partial "head.html" . }}


  <body>
    {{ partial "header.html" . }}


    <main class="h-content-height flex w-screen flex-row">
      {{ partial "navigation.html" . }}


      <div class="flex basis-8/12 flex-col justify-start border-x-2 ">
        {{- block "main" . }}{{- end }}

        {{ partial "footer.html" . }}

      </div>

      {{ partial "toc.html" . }}
    </main>
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
  </body>
</html>