{{ define "main" }}
<article class="grow p-2 overflow-y-auto text-left">

    ratione?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto dignissimos, earum excepturi
    labore,
    odit officiis possimus qui reiciendis sed soluta tempora ut voluptate. Ad facere obcaecati possimus quaerat
    ratione?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto dignissimos, earum excepturi
    labore,
    odit officiis possimus qui reiciendis sed soluta tempora ut voluptate. Ad facere obcaecati possimus quaerat
    ratione?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto dignissimos, earum excepturi
    labore,
    odit officiis possimus qui reiciendis sed soluta tempora ut voluptate. Ad facere obcaecati possimus quaerat
    ratione?


</article>

{{ end }}