<!--{{- partial "dev/dev-tools.html" . -}}-->
<!--{{- partial "dev/parameters.html" . -}}-->
<!-- {{- partial "dev/menu.html" . -}} -->
<nav id = "nav-menu">
  <ul class = "mt-1 space-y-3 pl-3
  text-state-500 ">
    {{ range .Site.Sections }}
    <li>
      <a class = "font-normal text-slate-500 hover:text-slate-700" href = "{{ .Permalink }}">
        <h1 class = "underline hover:underline-offset-4 "> {{ .Title | humanize }}</h1>
      </a>
      {{ partial "nav-sidebar-recurse.html" . }}
    </li>
    {{ end }}

  </ul>
</nav>

<div class = "h-20  border-t-2"></div>