<!--{{- partial "dev/dev-tools.html" . -}}-->
<!--{{- partial "dev/parameters.html" . -}}-->
<nav class="flex flex-col basis-2/12 bg-stone-50 border-r-2 ">
    <div class="basis-4/5 overflow-y-auto">
        {{- range $k,$v := .Pages }}
        <ul class="text-left border-2 bg-red-300 pl-8">
            <li>
                <a href="{{.RelPermalink }} " class="text-blue-500 hover:text-blue   ">{{ $v.Title }}</a>
            </li>
        </ul>
        {{ end -}}

    </div>
    <div class="basis-1/5 border-t-2">
        navigation extra
    </div>
</nav>