<!--{{- partial "dev/dev-tools.html" . -}}-->
<!--{{- partial "dev/parameters.html" . -}}-->
{{- partial "dev/menu.html" . -}}
<nav class="flex basis-2/12 flex-col border-r-2 bg-stone-50 ">
  <div class="basis-4/5 overflow-y-auto">
    {{- range $k,$v := .Site.Menus.main }}
    <ul class="border-2 bg-red-300 pl-8 text-left">
      <li>
        <a href="{{ .URL }} " class="hover:text-blue text-blue-500   "
        >{{ $v.Title }}</a
        >
        {{ if $v.HasChildren }}
        {{- range $k,$v := $v.Children }}
        <ul class="border-2 bg-red-300 pl-8 text-left">
          <li>
            <a href="{{ .URL }} " class="hover:text-blue text-blue-500   "
            >{{ $v.Title }}</a
            >
          </li>
        </ul>
        {{ end }}
        {{ end }}
      
      </li>
    </ul>
    {{ end -}}
  
  </div>
  <div class="basis-1/5 border-t-2">navigation extra</div>
</nav>